.container {
    padding: 20px;
    background-color: #000000;
    min-height: 100vh;
}




.chartsContainer {
    display: flex;
    flex-direction: column;

    gap: 20px;
    max-width: 1800px;
    margin-left: 600px;
}

.PiechartCard {
    color: #f8f9fa;
    background-color: rgb(35, 35, 35);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
}

.RadarchartCard {
    color: #f8f9fa;
    background-color: rgb(85, 85, 85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
}

.chartCard h2 {
    text-align: center;
    margin: 0 0 15px 0;
    color: #444;
    font-size: 16px;
}