.container {
    background-color: rgb(0, 0, 0);
    margin-top: -21px;
    height: 950px;
    display: flex;
    flex-direction: row;
    background-image: url("../assets/Grey\ Modern\ Aerospace\ Presentation.jpg");
}

.loginbox {
    height: 950px;
    width: 1000px;
    margin-left: 950px;
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 50px;
    margin-top: 300px;
    margin-right: 180px;
}

.backbutton {
    background-image: url('../assets/back-button.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-top: -100px;
    margin-left: -100px;

    border: none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;

    transition: transform 0.2s ease;
}

/* Add hover effect */
.backbutton:hover {
    transform: scale(1.1);
    /* Slightly enlarge on hover */
}






.textboxcontainer {
    margin-left: 200px;
    margin-top: 100px;
    background-color: transparent;
}

.inputbox {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;

}

.input:focus {
    outline: none;
    border-color: #007bff;
}

.button {
    width: 200px;
    padding: 12px;
    background: #000000;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;

}

.button:hover {
    background: #545454;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}